<?xml version="1.0"?>
<configuration>
	<!-- Setting up the web application -->
	<system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
		<!-- Configuring forms authentication -->
		<authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="60" slidingExpiration="true" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>
	<!-- Configuring WCF services -->
	<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILoanService" />
        <binding name="BasicHttpBinding_ISearchService" />
        <binding name="BasicHttpBinding_IScheduleService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:10349/Services/SearchService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISearchService"
        contract="SearchRef.ISearchService" name="BasicHttpBinding_ISearchService" />
      <endpoint address="http://localhost:10349/Services/LoanService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoanService"
        contract="LoanRef.ILoanService" name="BasicHttpBinding_ILoanService" />
      <endpoint address="http://localhost:10349/Services/ScheduleService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IScheduleService"
        contract="ScheduleRef.IScheduleService" name="BasicHttpBinding_IScheduleService" />
    </client>
    <services>
		<!-- Setting up ScheduleService -->
		<service name="TinyLibraryWeb_M3.Services.ScheduleService">
        <endpoint address="" binding="basicHttpBinding" contract="TinyLibraryWeb_M3.Services.IScheduleService" />
      </service>
      <service name="TinyLibraryWeb_M3.Services.LoanService">
        <endpoint address="" binding="basicHttpBinding" contract="TinyLibraryWeb_M3.Services.ILoanService" />
      </service>
      <service name="TinyLibraryWeb_M3.Services.SearchService">
        <endpoint address="" binding="basicHttpBinding" contract="TinyLibraryWeb_M3.Services.ISearchService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <!-- Support for .svc WCF files -->
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<handlers>
			<add name=".svc" verb="*" path="*.svc"
				 type="System.ServiceModel.Activation.ServiceHttpHandlerFactory,
               System.ServiceModel.Activation,
               Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</handlers>
		<directoryBrowse enabled="true" />
	</system.webServer>

</configuration>